*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#header{
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.containerh{
    align-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    /* margin-top: 100px; */
}
.LOGO{
    margin-top: 10px;
    width: 120px;
}
.header-text{
    width: 300px;
    margin-top: 80px;
}
h1{
    text-transform: capitalize;
    
    font-size: 25px;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0px;
}
p{
    text-align: justify;
    font-size: 12px;
    color: #777;
}
.cbtn{
    font-size: 12px;
    padding: 12px 20px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    cursor: pointer;
    font-weight: bold;
}
.header-text button{
    margin-top: 20px;
    margin-bottom: 40px;
}
.line1{
    width: 12px;
    height: 12px;
    background: #f67c92;
    display: inline-block;
}
.line2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
} .line3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line{
    line-height: 6px;
}
#sidemenu{
    width: 250px;
    height: 100vh;
    background: #f67c92;
    position: fixed;
    top: 0;
    right: -250px;
    z-index: 2;
    transition: .5s;
}
nav ul li{
    list-style: none;
    margin: 40px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#closeopen{
    position: fixed;
    top: 15px;
    right: 65px;
    width: 50px;
    z-index: 2;
    cursor: pointer;
}



/* about styling */

#about ,#offer{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.about-left{
    flex-basis: 50%;
}
.about-left img{
    width: 100%;

}
.about-right{
    flex-basis: 50%;
}
.about-text{
    flex-wrap: wrap;
    max-width: 400px;
   margin-left: 43px;
}
.about-text p{
    line-height: 1.5;
    color: black;
    margin-top: 15px;

}
.about-text h1{
   margin-bottom: 12px;

}



/* feature section styling */
#feature{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}
.col1{
    align-items: center;
    text-align: center;
    flex-basis: 25%;
}
.col2{
    align-items: center;
    text-align: center;
    flex-basis: 25%;
}
.col3{
    align-items: center;
    text-align: center;
    flex-basis: 25%;
}
.feature-row h4{
    margin: 12px;
    font-size: 20px;
    font-weight: 400;
}
.feature-row img{
    width: 100px;
}
.featurebutton{
    margin: 80px auto 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.featurebutton .line{
    text-align: right;
    display: inline-block;
    margin-right: 26px;
}

/* course sections styling */
#courses{
    padding: 100px 0px;
    margin-left: 100px;
    margin-right: 100px;
}
.courserow{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.cright{
    flex-basis: 50%;
}
.cright img{
    width: 100%;
}
.cleft{
    flex-basis: 50%;
}
.cleft p{
    margin-top: 12px;
    margin-right: 33px;
}
.cleft , .line{
    margin-top: 12px;
}
.coursetext button{
    margin: 20px 0px;
}

.about-text button{
    
    margin: 35px 0px;
}




#offer{
    padding: 80px 0px 150px;
    margin-left: 100px;
    margin-right: 100px;
}
.o-left,.o-right{
    flex-basis: 50%;
}
.o-left img{
    width: 100%;
}


/* contact section styling */

#contact{
    width: 80%;
    margin: auto;
    /* margin-top: 10px;
    margin-bottom: 90px; */
}
#contactrow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ccl{
    flex-basis: 50%;
    
}
.ccr{
    flex-basis: 50%;
}
.ccr img{
    width: 100%;
}

/* contact section styling */
form{
    max-width: 350px;
    margin: 30px 0px;
}
form input{
    width: 80%;
    padding: 10px 15px;
    outline: none;
    margin-bottom: 8px;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3c4;
}
.ccbtn{
    font-size: 12px;
    padding: 12px 12px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    cursor: pointer;
    font-weight: bold;
    margin-right: 8px;
    
}
.ccbox{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}
.ccbox{
    flex-basis: 48%;
}
.linec{
    padding-top: 0px;
    padding-bottom: 5px;
}
hr{
   width: 100%;
   border: 0;
   border-top: 2px solid #f67c92;

}
.frow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
   

}
.fl{
    flex-basis: 50%;
    margin-top: 60px;
    margin: 59px 30px;
}
.fr{
    margin-right: 22px;
    flex-basis: 30%;
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;

}
.link-title h4{
    color: #fab3c4;
    margin-bottom: 20px;
}
.link-title small{
    line-height: 22px;
    color:#777;
    line-height: 33px;
}

.icons{
    width: 50px;

    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.icons img{
    cursor: pointer;
    width: 20px;
    display: block;
    margin: 0px auto 14px;
}








/* responsive design medaia queries */
@media only screen and ( max-width:770px ){
    #header{
        background-image: none;
    }

    .containerh{
        margin-left: 50px;
        margin-right: 50px;
        /* margin-top: 100px; */
    }
    .LOGO{
        margin-top: 10px;
        width: 80px;
    }
    .header-text{
        width: 300px;
        margin-top: 80px;
    }
    h1{
        text-transform: capitalize;
        
        font-size: 15px;
    }

    #closeopen{
        
        right: 35px;
        width: 30px;
      
    }
    #sidemenu{
        width: 150px;
        height: 100vh;
        background: #f67c92;
        position: fixed;
        top: 0;
        right: -250px;
        z-index: 2;
        transition: .5s;
    }
    
    .cbtn{
        font-size: 10px;
        padding: 8px 8px;
        background: transparent;
        outline: none;
        border: 2px solid #f67c92;
        cursor: pointer;
        font-weight: bold;
    }

    .icons img{
       
        width: 10px;
        margin: 12px auto;
    }

    .about-left,.about-right{
        flex-basis: 100%;
    }
    #about{
        margin: 0px;
        padding: 0px;
        margin-top: -32px;
    
    }




    .about-text{
        margin: 50px 50px 0px;
       display: inline-block;
    }
    .about-text p{
        line-height: 1.5;
        color: black;
        margin-top: 15px;
    
    }
    .about-text h1{
        font-size: 22px;
       margin-bottom: 12px;
    
    }



    .col1,.col2{
        margin-bottom: 40px;
        
        flex-basis: 100%;
    }
    .col3{
        /* margin-bottom: 40px; */
        
        flex-basis: 100%;}

        .featurebutton{
            margin-top: 40px;
            
        }

        .cleft{
            flex-basis: 100%;
        }

        .cright{
            margin-top: 77px;
            flex-basis: 100%;
        }
        #courses{
            padding: 100px 0px;
            margin-left: 70px;
            margin-right: 30px;
        }

        .o-left{
            flex-basis: 100%;
        }
        .o-right{
            flex-basis: 100%;
        }


        #offer{
            padding: 10px 0px 10px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 95px;
        }
        

        .ccr{
            flex-basis: 100%;
        }
        .ccl{
            flex-basis: 100%;
           margin: 5px 5px 5px 50px;
        }
        .ccr img{
            width: 100%;
        }


        .ccbtn{
            font-size: 10px;
            padding: 8px 8px;
            background: transparent;
            outline: none;
            border: 2px solid #f67c92;
            cursor: pointer;
            font-weight: bold;
            margin-right: 8px;
            margin-bottom: 12px;
            
        }


        .ccr img{
            margin: 22px 0px;
            width: 100%;
        }

        .fl,.fr{
            flex-basis: 100%;
            
        }
       .link-title{
           margin-bottom: 44px;
       }
       .fr{
           margin-top: -50px;
           margin-bottom: 30px;
       }
}